* {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;

    
    & > .application-main {
        width: 100vw;
        
        & > .side-menu {
            min-width: 290px;
        }
    }
} 

.account-info-item,
.account-select-itme {
	margin: 20px 0;
}
.account-top-menu {
	color: #6E6893;
	padding: 0 10px;
	cursor: pointer;
}

.account-menu-box {
	border-bottom: 1px solid #C6C2DE;
	display: flex;
}

.point {
	border-bottom : 3px solid #333;
}
.account-wrapper {
	min-width: 1200px;
	flex-grow: 1;
}
.account-info-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.item-content {
	background-color: #fff;
	font-size: 20px;
	color: #11111399;
    border-radius: 3px;
    padding: 0 15px;
	width: 450px;
	height: 50px;
    border: 1px solid #11111333;
}

.space {
	margin-bottom: 10px;
}

.account-select-item {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.select-list {
	max-width: 366px;
	font-size: 12px;
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}

.select-list-item {
	font-weight: 700;
	border-radius: 3px;
	padding: 3px 5px;
	background-color: #E7E9ED;
}

.category-reset,
.area-reset {
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	background-color: #7B61FF;
	color: #fff;
	font-weight: 700;
	font-size: 14px;
	padding: 0 5px;

	&:hover {
	   transform: scale(1.05);
	} 
}

.reset-password-confirm,
.modify-confirm {
	padding: 5px 0;
	border-radius: 8px;
    display: flex;
    background-color: #5275C1;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    
    &:hover { 
        transform: scale(1.01);
    }
}

input[type="password"] {
	font-size: 1rem;
}