<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktdsuniversity.edu.domain.campaign.dao.impl.CampaignDaoImpl">
    <resultMap id="ResponseApplicantVOMap"
               type="com.ktdsuniversity.edu.domain.campaign.vo.response.ResponseApplicantVO"
               autoMapping="true">
        <id column="CMPN_PST_ADPT_ID" property="cmpnPstAdptId" />
        <association property="userInfo"
                    javaType="com.ktdsuniversity.edu.domain.user.vo.UserVO"
                    autoMapping="true">
            <id column="USR_ID" property="usrId"></id>
        </association>
    </resultMap>
    <select id="selectApplicantListByCmpnId"
            resultMap="ResponseApplicantVOMap"
            parameterType="com.ktdsuniversity.edu.domain.campaign.vo.request.RequestApplicantVO">
        <include refid="Common.paginationHeader" />
        SELECT CPA.CMPN_PST_ADPT_ID
		     , CPA.ADPT_YN
		     , U.USR_ID
		     , U.LOG_ID
		     , U.PNLT_CNT
		     , U.BLG_ADDRS
		     , U.TTL_VSTR_CNT
		     , U.AVRG_VSTR_CNT
		     , U.BLG_NGHBR_CNT
		     , U.SCRP_CNT
		     , U.DLT_YN
		  FROM CMPN_PST_ADPT CPA
		 INNER JOIN (SELECT USR_ID
		                  , LOG_ID
		                  , PNLT_CNT
		                  , BLG_ADDRS
		                  , TTL_VSTR_CNT
		                  , AVRG_VSTR_CNT
		                  , BLG_NGHBR_CNT
		                  , SCRP_CNT
		                  , DLT_YN
		               FROM USR
		              WHERE DLT_YN  = 'N'
		                AND AUTR != '1005') U
		    ON U.USR_ID = CPA.BLG_USR_ID
		 WHERE CPA.CMPN_ID = #{cmpnId}
		   AND CPA.DLT_YN = 'N'
	   <if test="searchId != null and searchId != ''">
	       AND U.LOG_ID LIKE '%' || #{searchId} || '%'
	   </if>
       <if test='sortCol != null and sortCol != ""'>
		  ORDER BY NVL(${sortCol}, 0) ${order}  
       </if>
       <include refid="Common.paginationFooter"></include>
    </select>
    
    <select id="selectCampaignInfoByCmpnId"
            parameterType="string"
            resultType="com.ktdsuniversity.edu.domain.campaign.vo.CampaignVO">
        SELECT STTS_CD
		     , RCRT_PRSNN
		     , TO_CHAR(RCRT_END_DT, 'YYYY-MM-DD') AS RCRT_END_DT
		     , CMPN_TITLE
		     , TO_CHAR(CMPN_END_DT, 'YYYY-MM-DD') AS CMPN_END_DT
		  FROM CMPN
         WHERE CMPN_ID = #{_parameter}
    </select>
    
    <update id="updateAdptYnByCmpnPstAdptId"
            parameterType="com.ktdsuniversity.edu.domain.campaign.vo.request.RequestApplicantVO">
        UPDATE CMPN_PST_ADPT
           SET UPDT_DT = SYSDATE
             , MTTR = #{usrId}
        <if test='adptYn == "adopted"'>
             , ADPT_YN = 'N'
        </if>
        <if test='adptYn == "unadopted"'>
             , ADPT_YN = 'Y'
        </if>
         WHERE CMPN_PST_ADPT_ID = #{cmpnPstAdptId}
           AND DLT_YN = 'N'
    </update>
    
    <select id="selectAdoptCountByCmpnId"
            parameterType="string"
            resultType="_int">
        SELECT COUNT(ADPT_YN)
		  FROM CMPN_PST_ADPT
		 WHERE CMPN_ID = #{_parameter}
		   AND ADPT_YN = 'Y'
		   AND DLT_YN = 'N'
    </select>

    <select id="selectApplicantCountByCmpnId"
            parameterType="com.ktdsuniversity.edu.domain.campaign.vo.request.RequestApplicantVO"
            resultType="_int">
        SELECT COUNT(CPA.BLG_USR_ID)
          FROM CMPN_PST_ADPT CPA
         INNER JOIN (SELECT USR_ID
                          , LOG_ID
                          , PNLT_CNT
                          , BLG_ADDRS
                          , TTL_VSTR_CNT
                          , AVRG_VSTR_CNT
                          , BLG_NGHBR_CNT
                          , SCRP_CNT
                          , DLT_YN
                       FROM USR
                      WHERE DLT_YN  = 'N'
                        AND AUTR != '1005') U
            ON U.USR_ID = CPA.BLG_USR_ID
         WHERE CPA.CMPN_ID = #{cmpnId}
       <if test="searchId != null and searchId != ''">
           AND U.LOG_ID LIKE '%' || #{searchId} || '%'
       </if>
           AND CPA.DLT_YN = 'N'
       <if test='sortCol != null and sortCol != ""'>
          ORDER BY NVL(${sortCol}, 0) ${order}  
       </if>
    </select>
    
    <select id="selectCampaignStateByCmpnPstAdptId"
            parameterType="string"
            resultType="string">
        SELECT STTS_CD
		  FROM CMPN C
		 INNER JOIN CMPN_PST_ADPT CPA
		    ON C.CMPN_ID = CPA.CMPN_ID
		 WHERE CPA.CMPN_PST_ADPT_ID  = #{_parameter}
    </select>
    
    <resultMap id="ResponseAdoptVOMap"
               type="com.ktdsuniversity.edu.domain.campaign.vo.response.ResponseAdoptVO"
               autoMapping="true">
        <id property="cmpnPstAdptId" column="CMPN_PST_ADPT_ID" />
        <association property="userInfo"
                     javaType="com.ktdsuniversity.edu.domain.user.vo.UserVO"
                     autoMapping="true">
            <id property="usrId" column="USR_ID" />
        </association>
    </resultMap>
    <select id="selectAdoptListByCmpnId"
            resultMap="ResponseAdoptVOMap"
            parameterType="com.ktdsuniversity.edu.domain.campaign.vo.request.RequestApplicantVO">
        SELECT CPA.CMPN_PST_ADPT_ID
		     , CPA.PST_URL
		     , CPA.PST_STTS_CD
		     , CC.CD_NM
		     , TO_CHAR(CPA.PST_DDLN, 'YYYY-MM-DD') AS PST_DDLN
		     , U.USR_ID
		     , U.LOG_ID
		     , U.BLG_ADDRS
		  FROM CMPN_PST_ADPT CPA
		 INNER JOIN USR U
		    ON CPA.BLG_USR_ID = U.USR_ID
		 INNER JOIN CM_CD CC
		    ON CPA.PST_STTS_CD = CC.CD_ID 
		 WHERE CPA.CMPN_ID = #{cmpnId}
		   AND CPA.ADPT_YN = 'Y'
		   AND CPA.DLT_YN = 'N'
		<if test="searchId != null and searchId != ''">
           AND U.LOG_ID LIKE '%' || #{searchId} || '%'
       </if>
       <if test='sortCol != null and sortCol != ""'>
          ORDER BY NVL(${sortCol}, 0) ${order}  
       </if>
    </select>
    
    <select id="selectCampaignDetailById"
            parameterType="string"
            resultMap="RequestCampaignVOMap">
			SELECT  CMPN.CMPN_ID
                  , CMPN.USR_ID
                  , CMPN.CTG_CD
                  , CMPN.STTS_CD
                  , CMPN.PRSNN_PRC
                  , CMPN.DRTN_PRC
                  , CMPN.PRSNN_DSCNT
                  , CMPN.DRTN_DSCNT
                  , CMPN.CMPN_PRNT_ID
                  , TO_CHAR(CMPN.RCRT_STRT_DT, 'MM-DD') AS RCRT_STRT_DT
                  , CMPN.RCRT_PRSNN
                  , CMPN.PRGRSS_DRTN
                  , TO_CHAR(CMPN.RCRT_END_DT, 'MM-DD')  AS RCRT_END_DT
                  , TO_CHAR(CMPN.PST_END_DT,  'MM-DD')  AS PST_END_DT
                  , TO_CHAR(CMPN.CMPN_END_DT, 'MM-DD')  AS CMPN_END_DT
                  , CMPN.RTRN_RSN
                  , CMPN.ADDRS
                  , CMPN.ATTCH_GRP_ID
                  , CMPN.CMPN_TITLE
                  , CMPN.CMPN_CN
                  , CMPN.OFFR_CN
                  , CMPN.OFFR_PRC
                  , CMPN.PST_MSSN
                  , CMPN.HSTG
                  , CMPN.NTFCN
                  , CMPN."VIEW"
                  , TO_CHAR(CMPN.CNFM_DT, 'MM-DD')       AS CNFM_DT
                  , TO_CHAR(CMPN.CRT_DT,  'MM-DD')       AS CRT_DT
                  , CMPN.CRTR
                  , TO_CHAR(CMPN.UPDT_DT, 'MM-DD')       AS UPDT_DT
                  , CMPN.MTTR
                  , CMPN.DLT_YN
                  , NVL(LIKE_TABLE.LIKE_CNT, 0)               AS LIKE_CNT
                  , NVL(ADPT_TABLE.ADPT_CNT, 0)               AS ADPT_CNT
                  , ARCD.CD_NM                                 AS AREA
                  , PARCD.CD_NM                                AS PARENT_AREA   
              FROM CMPN CMPN 
              LEFT JOIN ( SELECT FAV.CMPN_ID  
                               , COUNT(FAV.CMPN_ID) AS LIKE_CNT
                            FROM FAV_CMPN FAV
                           WHERE FAV.CMPN_ID = #{_parameter}
                             AND FAV.DLT_YN = 'N'
                           GROUP BY  FAV.CMPN_ID) LIKE_TABLE
                     ON CMPN.CMPN_ID = LIKE_TABLE.CMPN_ID 
              LEFT JOIN ( SELECT ADPT.CMPN_ID 
                               , COUNT(ADPT.CMPN_ID) AS ADPT_CNT
                            FROM CMPN_PST_ADPT ADPT 
                           WHERE ADPT.CMPN_ID = #{_parameter}
                             AND ADPT.DLT_YN = 'N'
                           GROUP BY ADPT.CMPN_ID) ADPT_TABLE
                     ON CMPN.CMPN_ID = ADPT_TABLE.CMPN_ID 
             LEFT JOIN CMPN_AR CMPNAR
               ON CMPN.CMPN_ID = CMPNAR.CMPN_ID 
             LEFT JOIN AR_CD ARCD
               ON CMPNAR.AR_CD = ARCD.CD_ID
             LEFT JOIN AR_CD PARCD
               ON PARCD.CD_ID = ARCD.PRNT_CD_ID 
            WHERE CMPN.CMPN_ID = #{_parameter}
    </select>
    
    
    <select id="selectCategoryList"
            resultType="com.ktdsuniversity.edu.global.common.CommonCodeVO">
     SELECT CD_ID
          , CD_NM
          , PRNT_CD_ID
          , USE_YN
          , SRT
          , KEY1
          , VALUE1
          , KEY2
          , VALUE2
          , KEY3
          , VALUE3
          , CRT_DT
          , CRTR
          , UPDT_DT
          , MTTR
          , DLT_YN 
      FROM CM_CD
     WHERE PRNT_CD_ID= '3000'
    </select>
    
     
    <select id="selectExpireSoonCampaign"
    		resultType="com.ktdsuniversity.edu.domain.campaign.vo.CampaignVO"
    		parameterType="com.ktdsuniversity.edu.domain.blog.vo.RequestExpireSoonCampaignVO">
        <include refid="Common.paginationHeader" />
    
    SELECT *
      FROM CMPN
    <include refid="Common.paginationFooter"></include>
    </select>
    

    <resultMap type="com.ktdsuniversity.edu.domain.campaign.vo.response.ResponseCampaignVO" 
               id="RequestCampaignVOMap"
               autoMapping="true">
               <id column="CMPN_ID" property="cmpnId"/>
               <collection property="area"
                           javaType="list"
                           ofType="java.lang.String">
                           <result property="area" column="AREA"/>
               </collection>
    </resultMap>
    
    <select id="selectCampaignListCategoryAndSortBy"
            resultMap="RequestCampaignVOMap"
            parameterType="com.ktdsuniversity.edu.domain.campaign.vo.request.RequestSearchCampaignVO">
			SELECT CMPN.CMPN_ID 
			     , CMPN.OFFR_CN 
			     , CMPN.RCRT_PRSNN 
			     , CMPN.CMPN_TITLE
			     , NVL(LIKE_TABLE.LIKE_CNT,0) AS LIKE_CNT 
			     , NVL(ADPT_TABLE.ADPT_CNT,0) AS ADPT_CNT 
			     , CMPN.RCRT_STRT_DT 
			     , CMPN.RCRT_END_DT
			     , PARCD.CD_NM      AS PARENT_AREA  
			     , ARCD.CD_NM       AS AREA
                 , CASE WHEN EXISTS (
                                     SELECT 1
                                       FROM FAV_CMPN FC
                                      WHERE FC.BLG_USR_ID = #{loginId} 
                                        AND FC.CMPN_ID    = CMPN.CMPN_ID
                                        AND FC.DLT_YN     = 'N'
                       ) THEN 'Y' ELSE 'N'
                    END                  AS FAVYN			     
			  FROM CMPN CMPN 
			  LEFT JOIN ( SELECT FAV.CMPN_ID  
			                   , COUNT(FAV.CMPN_ID) AS LIKE_CNT
			                FROM FAV_CMPN FAV
			               WHERE FAV.CMPN_ID IN (SELECT CMPN_ID 
			                                           FROM CMPN
			                                      WHERE CMPN.CTG_CD  = '3001'   
			                                        AND CMPN.STTS_CD IN ( SELECT CD_ID
									                                        FROM CM_CD
									                                       START WITH CD_ID= NVL(#{category, jdbcType=VARCHAR}, '3000')        
									                                     CONNECT BY PRIOR CD_ID = PRNT_CD_ID)
			                                    )
			                 AND FAV.DLT_YN = 'N'
			               GROUP BY  FAV.CMPN_ID) LIKE_TABLE
			         ON CMPN.CMPN_ID = LIKE_TABLE.CMPN_ID 
			  LEFT JOIN ( SELECT ADPT.CMPN_ID 
			                   , COUNT(ADPT.CMPN_ID) AS ADPT_CNT
			                FROM CMPN_PST_ADPT ADPT 
			               WHERE ADPT.CMPN_ID IN (SELECT CMPN_ID 
			                                           FROM CMPN
			                                      WHERE CMPN.CTG_CD  IN ( SELECT CD_ID
                                                                            FROM CM_CD
                                                                           START WITH CD_ID= NVL(#{category, jdbcType=VARCHAR}, '3000')        
                                                                         CONNECT BY PRIOR CD_ID = PRNT_CD_ID)
			                                        AND CMPN.STTS_CD = '2005'
			                                     )
			                 AND ADPT.DLT_YN = 'N'
			               GROUP BY ADPT.CMPN_ID) ADPT_TABLE
			         ON CMPN.CMPN_ID = ADPT_TABLE.CMPN_ID 
			  LEFT JOIN CMPN_AR CMPNAR
			    ON CMPN.CMPN_ID = CMPNAR.CMPN_ID 
			  LEFT JOIN AR_CD ARCD
			    ON CMPNAR.AR_CD = ARCD.CD_ID
			  LEFT JOIN AR_CD PARCD
			    ON PARCD.CD_ID = ARCD.PRNT_CD_ID 
			 WHERE CMPN.CMPN_TITLE LIKE '%' || #{searchKeyword, jdbcType=VARCHAR} || '%'        
			   AND CMPN.CTG_CD IN (   SELECT CD_ID
			                            FROM CM_CD
			                           START WITH CD_ID= NVL(#{category, jdbcType=VARCHAR}, '3000')        
			                         CONNECT BY PRIOR CD_ID = PRNT_CD_ID)
			  AND CMPN.CTG_CD IN ( SELECT CD_ID
                                     FROM CM_CD
                                    START WITH CD_ID= NVL(#{category, jdbcType=VARCHAR}, '3000')        
                                  CONNECT BY PRIOR CD_ID = PRNT_CD_ID)  
			  AND CMPN.STTS_CD = '2005'   
			  ORDER BY
		        CASE WHEN #{sortBy} = 'latest'   THEN CMPN.RCRT_STRT_DT END  DESC ,
		        CASE WHEN #{sortBy} = 'deadline' THEN CMPN.RCRT_END_DT  END  ASC  ,
		        CASE WHEN #{sortBy} = 'popular'  THEN LIKE_CNT 		    END  DESC			   
    </select>
    

    <select id="selectCategoryParent"
            parameterType="string"
            resultType="string">    
			SELECT CTG.CD_ID
			FROM (
			      SELECT LEVEL AS lv, CD_ID, CD_NM, MAX(LEVEL) OVER () AS max_lv
			        FROM CM_CD
			       START WITH CD_ID = (SELECT CD_ID
			                             FROM CM_CD
			                            WHERE CD_NM= #{_parameter} )
			     CONNECT BY PRIOR PRNT_CD_ID = CD_ID ) CTG
			WHERE lv = max_lv - 1
    </select>
    
	
	<select id="selectCampaignChangeSttsCd"
			parameterType="string"
			resultType="string">
			SELECT CD_NM
			  FROM CM_CD
			 WHERE CD_ID = #{_parameter} 
	</select>
	
	
	<select id="selectMyCampaignByBlgId"
	        parameterType="map"
	        resultMap="RequestCampaignVOMap">
			SELECT U.USR_ID                               
			     , ADPT.CMPN_ID
			     , CMPN.CMPN_TITLE 
			     , CMPN.OFFR_CN 
			     , CMPN.RCRT_PRSNN
			     , CMPN.STTS_CD 
			     , ARCD.CD_NM                              AS AREA
			     , PARCD.CD_NM                             AS PARENT_AREA   
			     , NVL(ADPT_CNT.CNT, 0)                    AS ADPT_CNT
			     , CASE WHEN FC.CMPN_ID IS NULL THEN 'N'
			            ELSE 'Y'
			       END                                     AS FAV_YN
			     , ADPT.PST_STTS_CD       
			  FROM USR U
			 INNER JOIN CMPN_PST_ADPT ADPT
			    ON U.USR_ID = ADPT.BLG_USR_ID
			   AND ADPT.DLT_YN = 'N'
			 INNER JOIN CMPN CMPN
			    ON CMPN.CMPN_ID = ADPT.CMPN_ID
			   AND ADPT.DLT_YN = 'N'
			  LEFT JOIN (SELECT CMPN_ID
			                  , COUNT(CMPN_ID) AS CNT
			               FROM CMPN_PST_ADPT
			              WHERE ADPT_YN = 'Y'
			                AND DLT_YN  = 'N'
			              GROUP BY CMPN_ID
			             ) ADPT_CNT
			    ON ADPT_CNT.CMPN_ID = ADPT.CMPN_ID
			  LEFT JOIN FAV_CMPN FC
			    ON FC.BLG_USR_ID = U.USR_ID
			   AND FC.CMPN_ID    = ADPT.CMPN_ID
			   AND FC.DLT_YN     = 'N'
			  LEFT JOIN CMPN_AR CMPNAR
			    ON CMPN.CMPN_ID = CMPNAR.CMPN_ID 
			  LEFT JOIN AR_CD ARCD
			    ON CMPNAR.AR_CD = ARCD.CD_ID
			  LEFT JOIN AR_CD PARCD
			    ON PARCD.CD_ID = ARCD.PRNT_CD_ID   
			 WHERE U.USR_ID    = #{blgId}
			   AND ADPT.DLT_YN = 'N'
			  <if test="statuses != null and statuses.size() > 0">
			    AND CMPN.STTS_CD IN
			    <foreach collection="statuses" item="statuses" open="(" separator="," close=")">
			      #{statuses}
			    </foreach>
			  </if>
	</select>
	
    <select id="selectFavCamapignExists"
            parameterType="map"
            resultType="string">
			SELECT CASE 
			         WHEN EXISTS (SELECT 1
			                        FROM FAV_CMPN
			                       WHERE BLG_USR_ID = #{blgId}
			                         AND CMPN_ID = #{campaignId})
			         THEN 1 ELSE 0 
			       END AS CNT
			FROM DUAL
    </select>
    
    <insert id="insertFavCamapign"
            parameterType="map">
			INSERT INTO FAV_CMPN 
			VALUES 
			(#{blgId}
			,#{campaignId}
			,SYSDATE
			,#{blgId}
			,SYSDATE 
			,#{blgId}
			,'N')
    </insert>
    
    <select id="selectFavDltYn"
            parameterType="map"
            resultType="string">
			SELECT DLT_YN
			  FROM FAV_CMPN
			 WHERE BLG_USR_ID = #{blgId}
			   AND CMPN_ID = #{campaignId}
    </select>

    <update id="updateFavCamapignOn"
            parameterType="map">
			UPDATE FAV_CMPN
			   SET DLT_YN = 'N'
			 WHERE BLG_USR_ID = #{blgId}
			   AND CMPN_ID =#{campaignId}    
    </update>

    <update id="updateFavCamapignOff"
            parameterType="map">
			UPDATE FAV_CMPN
			   SET DLT_YN = 'Y'
			 WHERE BLG_USR_ID = #{blgId}
			   AND CMPN_ID =#{campaignId}
    </update>    
	
    <select id="selectMyFavCampaignByBlgId"
            parameterType="map"
            resultMap="RequestCampaignVOMap">
            SELECT CMPN.CMPN_ID
                 , CMPN.CMPN_TITLE 
                 , CMPN.OFFR_CN 
                 , CMPN.RCRT_PRSNN
                 , CMPN.STTS_CD 
                 , ARCD.CD_NM                              AS AREA
                 , PARCD.CD_NM                             AS PARENT_AREA   
                 , NVL(ADPT_CNT.CNT, 0)                    AS ADPT_CNT
              FROM CMPN CMPN
              LEFT JOIN CMPN_AR CMPNAR
                ON CMPN.CMPN_ID = CMPNAR.CMPN_ID 
              LEFT JOIN AR_CD ARCD
                ON CMPNAR.AR_CD = ARCD.CD_ID
              LEFT JOIN AR_CD PARCD
                ON PARCD.CD_ID = ARCD.PRNT_CD_ID   
              LEFT JOIN (SELECT CMPN_ID
                              , COUNT(CMPN_ID) AS CNT
                           FROM CMPN_PST_ADPT
                          WHERE ADPT_YN = 'Y'
                            AND DLT_YN  = 'N'
                          GROUP BY CMPN_ID
                         ) ADPT_CNT
                ON ADPT_CNT.CMPN_ID = CMPN.CMPN_ID    
             WHERE CMPN.CMPN_ID IN ( SELECT CMPN_ID
                                       FROM FAV_CMPN FC
                                      WHERE FC.BLG_USR_ID = #{blgId}
                                        AND FC.DLT_YN ='N')
               AND CMPN.STTS_CD IN 
				    <foreach collection="statuses" item="statuses" open="(" separator="," close=")">
				      #{statuses}
				    </foreach>                   
    </select>
	
</mapper>



