<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktdsuniversity.edu.domain.campaign.dao.impl.CampaignDaoImpl">
    <resultMap id="ApplicantVOMap"
               type="com.ktdsuniversity.edu.domain.campaign.vo.ApplicantVO"
               autoMapping="true">
        <id column="CMPN_PST_ADPT_ID" property="cmpnPstAdptId" />
        <association property="userInfo"
                    javaType="com.ktdsuniversity.edu.domain.user.vo.UserVO"
                    autoMapping="true">
            <id column="USR_ID" property="usrId"></id>
        </association>
    </resultMap>
    <select id="selectApplicantListByCmpnId"
            resultMap="ApplicantVOMap"
            parameterType="string">
        SELECT CPA.CMPN_PST_ADPT_ID
             , CPA.ADPT_YN
             , U.USR_ID
             , U.LOG_ID
             , U.PNLT_CNT
             , U.BLG_ADDRS
             , U.TTL_VSTR_CNT
             , U.AVRG_VSTR_CNT
             , U.BLG_NGHBR_CNT
             , U.SCRP_CNT
             , U.DLT_YN
          FROM CMPN_PST_ADPT CPA
         INNER JOIN (SELECT USR_ID
                          , LOG_ID
                          , PNLT_CNT
                          , BLG_ADDRS
                          , TTL_VSTR_CNT
                          , AVRG_VSTR_CNT
                          , BLG_NGHBR_CNT
                          , SCRP_CNT
                          , DLT_YN
                       FROM USR
                      WHERE DLT_YN  = 'N'
                        AND AUTR != '1005') U
            ON U.USR_ID = CPA.BLG_USR_ID
         WHERE CPA.CMPN_ID = #{_parameter}
           AND CPA.DLT_YN = 'N'
    </select>
    
    <select id="selectCmpnStateByCmpnId"
            parameterType="string"
            resultType="string">
        SELECT STTS_CD
          FROM CMPN
         WHERE CMPN_ID = #{_parameter}
    </select>
    
    <update id="updateAdptYnBycmpnApplyId"
            parameterType="com.ktdsuniversity.edu.domain.campaign.vo.ApplicantVO">
        UPDATE CMPN_PST_ADPT
        <if test='adptYn == "adopted"'>
           SET ADPT_YN = 'N'
        </if>
        <if test='adptYn == "unadopted"'>
           SET ADPT_YN = 'Y'
        </if>
         WHERE CMPN_PST_ADPT_ID = #{cmpnPstAdptId}
           AND DLT_YN = 'N'
    </update>
    
    <select id="selectCampaignDetailById"
            parameterType="string"
            resultType="com.ktdsuniversity.edu.domain.campaign.vo.CampaignVO">
    SELECT CMPN_ID
         , USR_ID
         , CTG_CD
         , STTS_CD
         , PRSNN_PRC
         , DRTN_PRC
         , PRSNN_DSCNT
         , DRTN_DSCNT
         , CMPN_PRNT_ID
         , RCRT_STRT_DT
         , RCRT_PRSNN
         , PRGRSS_DRTN
         , RCRT_END_DT
         , PST_END_DT
         , CMPN_END_DT
         , RTRN_RSN
         , ADDRS
         , ATTCH_GRP_ID
         , CMPN_TITLE
         , CMPN_CN
         , OFFR_CN
         , OFFR_PRC
         , PST_MSSN
         , HSTG
         , NTFCN
         , "VIEW"
         , CNFM_DT
         , CRT_DT
         , CRTR
         , UPDT_DT
         , MTTR
         , DLT_YN
    FROM CMPN
    WHERE CMPN_ID = #{_parameter}
    </select>
    
    
    <select id="selectCategoryList"
            resultType="com.ktdsuniversity.edu.global.common.CommonCodeVO">
     SELECT CD_ID
          , CD_NM
          , PRNT_CD_ID
          , USE_YN
          , SRT
          , KEY1
          , VALUE1
          , KEY2
          , VALUE2
          , KEY3
          , VALUE3
          , CRT_DT
          , CRTR
          , UPDT_DT
          , MTTR
          , DLT_YN 
      FROM CM_CD
     WHERE PRNT_CD_ID= '3000'
    </select>
    
    <resultMap type="com.ktdsuniversity.edu.domain.campaign.vo.response.ResponseCampaignVO" 
               id="RequestSearchCampaignVOMap"
               autoMapping="true">
               <id column="CMPN_ID" property="cmpnId"/>
               <collection property="area"
                           javaType="list"
                           ofType="java.lang.String">
               </collection>
    </resultMap>
    
    <select id="selectCampaignListCategoryAndSortBy"
            resultMap="RequestSearchCampaignVOMap"
            parameterType="com.ktdsuniversity.edu.domain.campaign.vo.request.RequestSearchCampaignVO">
            
			SELECT CMPN.CMPN_ID 
			     , CMPN.OFFR_CN 
			     , CMPN.RCRT_PRSNN 
			     , CMPN.CMPN_TITLE
			     , NVL(LIKE_TABLE.LIKE_CNT,0) AS LIKE_CNT 
			     , NVL(ADPT_TABLE.ADPT_CNT,0) AS ADPT_CNT 
			     , CMPN.RCRT_STRT_DT 
			     , CMPN.RCRT_END_DT
			     , PARCD.CD_NM      AS PARENT_AREA  
			     , ARCD.CD_NM       AS AREA
			  FROM CMPN CMPN 
			  LEFT JOIN ( SELECT FAV.CMPN_ID  
			                   , COUNT(FAV.CMPN_ID) AS LIKE_CNT
			                FROM FAV_CMPN FAV
			               WHERE FAV.CMPN_ID IN (SELECT CMPN_ID 
			                                           FROM CMPN
			                                      WHERE CMPN.CTG_CD  = '3001'   
			                                        AND CMPN.STTS_CD = '2005'
			                                    )
			                 AND FAV.DLT_YN = 'N'
			               GROUP BY  FAV.CMPN_ID) LIKE_TABLE
			         ON CMPN.CMPN_ID = LIKE_TABLE.CMPN_ID 
			  LEFT JOIN ( SELECT ADPT.CMPN_ID 
			                   , COUNT(ADPT.CMPN_ID) AS ADPT_CNT
			                FROM CMPN_PST_ADPT ADPT 
			               WHERE ADPT.CMPN_ID IN (SELECT CMPN_ID 
			                                           FROM CMPN
			                                      WHERE CMPN.CTG_CD  = '3001'   
			                                        AND CMPN.STTS_CD = '2005'
			                                     )
			                 AND ADPT.ADPT_YN = 'Y'
			                 AND ADPT.DLT_YN = 'N'
			               GROUP BY ADPT.CMPN_ID) ADPT_TABLE
			         ON CMPN.CMPN_ID = ADPT_TABLE.CMPN_ID 
			  LEFT JOIN CMPN_AR CMPNAR
			    ON CMPN.CMPN_ID = CMPNAR.CMPN_ID 
			  LEFT JOIN AR_CD ARCD
			    ON CMPNAR.AR_CD = ARCD.CD_ID
			  LEFT JOIN AR_CD PARCD
			    ON PARCD.CD_ID = ARCD.PRNT_CD_ID 
			 WHERE CMPN.CMPN_TITLE LIKE '%' || #{searchKeyword, jdbcType=VARCHAR} || '%'        
			   AND CMPN.CTG_CD IN (   SELECT CD_ID
			                            FROM CM_CD
			                           START WITH CD_ID= NVL(#{category, jdbcType=VARCHAR}, '3000')        
			                         CONNECT BY PRIOR CD_ID = PRNT_CD_ID)
			  AND CMPN.CTG_CD  = '3001'  
			  AND CMPN.STTS_CD = '2005'   
			    
    </select>
    

    <select id="selectCategoryParent"
            parameterType="string"
            resultType="string">    
			SELECT CTG.CD_ID
			FROM (
			      SELECT LEVEL AS lv, CD_ID, CD_NM, MAX(LEVEL) OVER () AS max_lv
			        FROM CM_CD
			       START WITH CD_ID = (SELECT CD_ID
			                             FROM CM_CD
			                            WHERE CD_NM= #{_parameter} )
			     CONNECT BY PRIOR PRNT_CD_ID = CD_ID ) CTG
			WHERE lv = max_lv - 1
    </select>
</mapper>



