<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktdsuniversity.edu.domain.campaign.dao.impl.CampaignDaoImpl">
    <resultMap id="ApplicantVOMap"
               type="com.ktdsuniversity.edu.domain.campaign.vo.ApplicantVO"
               autoMapping="true">
        <id column="CMPN_PST_ADPT_ID" property="cmpnPstAdptId" />
        <association property="userInfo"
                    javaType="com.ktdsuniversity.edu.domain.user.vo.UserVO"
                    autoMapping="true">
            <id column="USR_ID" property="usrId"></id>
        </association>
    </resultMap>
    <select id="selectApplicantListByCmpnId"
            resultMap="ApplicantVOMap"
            parameterType="com.ktdsuniversity.edu.domain.campaign.vo.ApplicantVO">
        <include refid="Common.paginationHeader" />
        SELECT CPA.CMPN_PST_ADPT_ID
             , CPA.ADPT_YN
             , U.USR_ID
             , U.LOG_ID
             , U.PNLT_CNT
             , U.BLG_ADDRS
             , U.TTL_VSTR_CNT
             , U.AVRG_VSTR_CNT
             , U.BLG_NGHBR_CNT
             , U.SCRP_CNT
             , U.DLT_YN
          FROM CMPN_PST_ADPT CPA
         INNER JOIN (SELECT USR_ID
                          , LOG_ID
                          , PNLT_CNT
                          , BLG_ADDRS
                          , TTL_VSTR_CNT
                          , AVRG_VSTR_CNT
                          , BLG_NGHBR_CNT
                          , SCRP_CNT
                          , DLT_YN
                       FROM USR
                      WHERE DLT_YN  = 'N'
                        AND AUTR != '1005') U
            ON U.USR_ID = CPA.BLG_USR_ID
         WHERE CPA.CMPN_ID = #{campId}
           AND CPA.DLT_YN = 'N'
       <if test='sortCol != null and sortCol != ""'>
         ORDER BY ${sortCol} ${order}
       </if>
       <include refid="Common.paginationFooter"></include>
    </select>
    
    <select id="selectCampaignInfoByCmpnId"
            parameterType="string"
            resultType="com.ktdsuniversity.edu.domain.campaign.vo.CampaignVO">
        SELECT STTS_CD
             , RCRT_PRSNN
             , RCRT_END_DT
          FROM CMPN
         WHERE CMPN_ID = #{_parameter}
    </select>
    
    <update id="updateAdptYnBycmpnApplyId"
            parameterType="com.ktdsuniversity.edu.domain.campaign.vo.ApplicantVO">
        UPDATE CMPN_PST_ADPT
        <if test='adptYn == "adopted"'>
           SET ADPT_YN = 'N'
        </if>
        <if test='adptYn == "unadopted"'>
           SET ADPT_YN = 'Y'
        </if>
         WHERE CMPN_PST_ADPT_ID = #{cmpnPstAdptId}
           AND DLT_YN = 'N'
    </update>
    
    <select id="selectAdoptCount"
            parameterType="string">
        SELECT COUNT(ADPT_YN)
		  FROM CMPN_PST_ADPT
		 WHERE CMPN_ID = #{_parameter}
		   AND ADPT_YN = 'Y'
		   AND DLT_YN = 'N'
    </select>
    
    <select id="selectCampaignDetailById"
            parameterType="string"
            resultType="com.ktdsuniversity.edu.domain.campaign.vo.CampaignVO">
    SELECT CMPN_ID
         , USR_ID
         , CTG_CD
         , STTS_CD
         , PRSNN_PRC
         , DRTN_PRC
         , PRSNN_DSCNT
         , DRTN_DSCNT
         , CMPN_PRNT_ID
         , RCRT_STRT_DT
         , RCRT_PRSNN
         , PRGRSS_DRTN
         , RCRT_END_DT
         , PST_END_DT
         , CMPN_END_DT
         , RTRN_RSN
         , ADDRS
         , ATTCH_GRP_ID
         , CMPN_TITLE
         , CMPN_CN
         , OFFR_CN
         , OFFR_PRC
         , PST_MSSN
         , HSTG
         , NTFCN
         , "VIEW"
         , CNFM_DT
         , CRT_DT
         , CRTR
         , UPDT_DT
         , MTTR
         , DLT_YN
    FROM CMPN
    WHERE CMPN_ID = #{_parameter}
    </select>
    
    
    <select id="selectCategory"
            resultType="com.ktdsuniversity.edu.global.common.CommonCodeVO">
     SELECT CD_ID
          , CD_NM
          , PRNT_CD_ID
          , USE_YN
          , SRT
          , KEY1
          , VALUE1
          , KEY2
          , VALUE2
          , KEY3
          , VALUE3
          , CRT_DT
          , CRTR
          , UPDT_DT
          , MTTR
          , DLT_YN 
      FROM CM_CD
     WHERE PRNT_CD_ID= '3000'
    </select>
</mapper>