<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktdsuniversity.edu.domain.blog.dao.impl.PostDataDaoImpl">
    
    <insert id="insertPostData"
    		parameterType="com.ktdsuniversity.edu.domain.blog.vo.PostDataInsertVO">
    <selectKey keyProperty="pstDaId" order="BEFORE" resultType="string">
    SELECT 'PST-' || TO_CHAR(SYSDATE, 'YYYYMMDD-') || LPAD(SEQ_PST_DA_PK.NEXTVAL, 6, 0)
           FROM DUAL
    </selectKey>
    INSERT INTO TEAM_A.PST_DA
           (PST_DA_ID
         , USR_ID
         , PST_URL
         , PST_CMNT
         , PST_LK
         , PSTD_DT
         , CRT_DT
         , CRTR
         , UPDT_DT
         , MTTR
         , DLT_YN)
    VALUES(#{pstDaId}
         , (SELECT U.USR_ID FROM TEAM_A.USR U WHERE U.BLG_ADDRS = #{blgAddrs})
         , #{pstUrl}
         , #{pstCmnt}
         , #{pstLk}
         , TO_DATE(#{pstdDt}, 'YYYY-MM-DD HH24:MI:SS')
         , SYSDATE
         , 'SYSTEM'
         , SYSDATE
         , 'SYSTEM'
         , 'N'	)
    
    </insert>
    
    <select id="selectBlogIndex"
    		parameterType="string">
    SELECT USR_ID
    	 , TO_CHAR(STAT_DT, 'YYYY-MM-DD') AS STAT_DT
    	 , INDX_VAL
    	 , INDX_VAL_AVG_5D
    	 , CRT_DT
    	 , CRTR
    	 , UPDT_DT
    	 , MTTR
	  FROM TEAM_A.BLG_INDX
	 WHERE USR_ID = #{_parameter}
	   AND STAT_DT > SYSDATE - 20 
	 ORDER BY STAT_DT
    </select>
    
</mapper>