@charset "UTF-8";

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	color: #333333;
	
}

a {
	text-decoration: none;
}

table {
	border-collapse: collapse;
	border-top: 1px solid #d9d5ec;
	border-bottom: 1px solid #d9d5ec;
}

th {
	background-color: #eef1f9;
}

td {
	border-top: 1px solid #d9d5ec;
}

.wrapper {
	width: 100%;
	height: calc(100vh - 40px);
	padding: 20px;
}

.tab {
	
	font-size: 14pt;
	
	& > .teb-item {
       display: none;
    }
}

.container {
	
}

.list-tbl {
	width: 100%;
    /* table-layout: fixed; */
}

