<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktdsuniversity.edu.domain.user.dao.impl.AdminUserDaoImpl">

    <resultMap type="com.ktdsuniversity.edu.domain.user.vo.AdminUserListVO" id="AdminUserListVOMap" autoMapping="true">
        <id column="USR_ID" property="usrId" />
        <result column="CMPN_ALL_CNT" property="cmpnAllCnt" />
        <result column="CMPN_PRGRSS_CNT" property="cmpnPrgrssCnt" />
        <result column="REGIST_ACPT" property="registAcpt" />
    </resultMap>
    <select id="selectAdminUserList" resultMap="AdminUserListVOMap">
        SELECT U.USR_ID 
             , U.LOG_ID
             , U.NM
             , U.AUTR
             , U.BLG_ADDRS
             , U.RCNT_BLG_CRTFCTN_DT
             , CASE
                   WHEN U.AUTR IN ('1002', '1003')
                   THEN (SELECT COUNT(C_ADPT.BLG_USR_ID)
                          FROM CMPN_PST_ADPT C_ADPT
                         INNER JOIN CMPN C
                            ON C.CMPN_ID = C_ADPT.CMPN_ID
                         WHERE C.DLT_YN = 'N'
                           AND C_ADPT.DLT_YN = 'N'
                           AND C_ADPT.BLG_USR_ID = U.USR_ID
                           AND C.STTS_CD = '2007'
                           AND C_ADPT.ADPT_YN = 'Y')
                   WHEN U.AUTR = '1004'
                   THEN (SELECT COUNT(C.CMPN_ID)
                          FROM CMPN C
                         WHERE C.DLT_YN = 'N'
                           AND C.STTS_CD = '2007'
                           AND C.USR_ID = U.USR_ID)
                    END AS CMPN_PRGRSS_CNT
             , CASE 
                   WHEN U.AUTR IN ('1002', '1003')
                   THEN (SELECT COUNT(C_ADPT.BLG_USR_ID)
                           FROM CMPN_PST_ADPT C_ADPT
                          INNER JOIN CMPN C
                             ON C.CMPN_ID = C_ADPT.CMPN_ID
                          WHERE C.DLT_YN = 'N'
                            AND C_ADPT.DLT_YN = 'N'
                            AND C_ADPT.BLG_USR_ID = U.USR_ID
                            AND C.STTS_CD NOT IN ('2001', '2002', '2003', '2008')
                            AND C_ADPT.ADPT_YN = 'Y')
                   WHEN U.AUTR = '1004'
                   THEN (SELECT COUNT(C.CMPN_ID)
                           FROM CMPN C
                          INNER JOIN CMPN_PYMNT CP
                             ON CP.CMPN_ID = C.CMPN_ID
                          WHERE C.DLT_YN = 'N'
                            AND C.USR_ID = U.USR_ID
                            AND C.STTS_CD IN ('2005', '2006', '2007', '2009'))
                   END AS CMPN_ALL_CNT
             , U.RCNT_LGN_SCS_DT
             , U.PNLT_CNT
             , CASE
                   WHEN U.AUTR = '1007'
                   THEN 'N'
                   WHEN U.AUTR = '1004'
                   THEN 'Y'
                   ELSE '-'
                END AS REGIST_ACPT
             , U.SBSCRPTN_EXPRS_DT
             , U.CRT_DT
          FROM USR U
          WHERE U.DLT_YN = 'N'
            AND U.AUTR NOT IN ('1001', '1005', '1008')
          ORDER BY U.CRT_DT DESC
        </select>
        
        <select id="selectAdminUserAutrById" parameterType="string">
            SELECT AUTR
              FROM USR
             WHERE USR_ID = #{_parameter}
        </select>
        
        <resultMap type="com.ktdsuniversity.edu.domain.user.vo.AdminBloggerDetailVO" id="AdminBloggerDetailVOMap" autoMapping="true">
            <id column="USR_ID" property="usrId" />
            
            <result column="CMPN_PROGRESS_CNT" property="cmpnProgressCnt" />
            <result column="CMPN_COMPLETED_CNT" property="cmpnCompletedCnt" />
        </resultMap>
        <select id="selectAdminBloggerDetailById" resultMap="AdminBloggerDetailVOMap" parameterType="string">
            SELECT U.USR_ID 
                 , U.LOG_ID
                 , U.EML
                 , U.NM
                 , U.BLG_ADDRS
                 , U.RCNT_BLG_CRTFCTN_DT
--               , [활동 지역]
--               , [블로그 카테고리]
                 , U.RCNT_LGN_SCS_DT
                 , (SELECT COUNT(C_ADPT.BLG_USR_ID)
                      FROM CMPN_PST_ADPT C_ADPT
                     INNER JOIN CMPN C
                        ON C.CMPN_ID = C_ADPT.CMPN_ID
                     WHERE C.DLT_YN = 'N'
                       AND C_ADPT.DLT_YN = 'N'
                       AND C.STTS_CD = '2007'
                       AND C_ADPT.ADPT_YN = 'Y') AS CMPN_PROGRESS_CNT
--               , [진행 중인 캠페인 목록]
                 , (SELECT COUNT(C_ADPT.BLG_USR_ID)
                      FROM CMPN_PST_ADPT C_ADPT
                     INNER JOIN CMPN C
                        ON C.CMPN_ID = C_ADPT.CMPN_ID
                     WHERE C.DLT_YN = 'N'
                       AND C_ADPT.DLT_YN = 'N'
                       AND C.STTS_CD = '2009'
                       AND C_ADPT.ADPT_YN = 'Y') AS CMPN_COMPLETED_CNT
--               , [만료된 캠페인 목록]
                 , U.PNLT_CNT
                 , U.SBSCRPTN_EXPRS_DT AS
                 , U.AVRG_VSTR_CNT AS
                 , U.BLG_NGHBR_CNT AS
                 , U.SCRP_CNT AS
                 , U.CRT_DT AS
              FROM USR U
              WHERE U.DLT_YN = 'N'
                AND U.USR_ID = #{_parameter}
        </select>
        
</mapper>