@charset "UTF-8";

.dashboard-container{
	display: flex;
	flex-direction: column;
	flex-grow:1;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	& > tr {
		text-align: center;
	}
}
.title{
	display: flex;
	font-size: 2.25rem;
	color: #5A6ACF;
	font-weight: bold;
}

.verification-container{
	display: flex;
	flex-direction: column;
	justify-items: center;
}
/* 모달 배경 */
.modal {
  display: none; /* 기본 비활성 */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

/* 모달 내부 박스 */
.modal-content {
  background-color: #fff;
  margin: 12% auto;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  text-align: center;
}

/* 닫기 버튼 */
.close {
  float: right;
  font-size: 20px;
  cursor: pointer;
}