.main {
  width: 100vh;
  flex-grow: 1;

  * {
    border: 1px solid black;
  }

  & > .cmpn-top-area {
    height: 193px;
  }
  & > .cmpn-bottom-area {
    display: flex;
    flex-direction: row;
    & > .cmpn-content-area {
      flex-grow: 1;
      height: 12000px;
    }
    & > .cmpn-rightbar-area {
      width: 423px;
      padding: 25px 60px 62px 60px;
      & > .right-bar {
        position: sticky;
        top: 289px;
        right: 60px;
      }
    }
  }
}

.noview {
	display: none;
}