.main {
  width: 100vh;
  flex-grow: 1;


  * {
    box-sizing: border box;
    border: 1px solid black;
    margin : 0;
    padding : 0;
  }

  & > .campaign-detail-wrapper {
    padding: 43px 37px 0 43px;

    & > .cmpn-top-area {
      height: 150px;
      font-size: 24px;
      border-bottom: 1px solid black;
      & > .cmpn-title {
        font-size: 36px;
      }
    }

    & > .cmpn-bottom-area {
      display: flex;
      flex-direction: row;

      & > .cmpn-content-area {
        flex-grow: 1;
        height: 12000px;
        font-size : 24px;
        & > .list-table {
            
            li {
                display : block;
                padding : 10px 0 10px 0;
                label, div {
                    display : inline-block;
                }
                label {
                    width : 277px;
                }
                div {
                    width : 830px;
                }
            }
            
        }
      }

      & > .cmpn-rightbar-area {
        width: 423px;
        padding: 25px 0 62px 60px;

        & > .right-bar {
          position: sticky;
          top: 289px;
          right: 60px;
        }
      }
    }
  }
}

.noview {
  display: none;
}
