* {
  box-sizing: border-box;
}
body {
  color: #333;
  margin: 0;
}

ul{
	list-style: none;
}
.wrapper {
  display: flex;

  flex-direction: column;
  height: 100vh;

  & > .top-menu {
    height: 72px;
  }
  & > .application-main {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100vw;

    & > .side-menu {
      width: 270px;
    }
  }
}



