* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  color: #333;
  margin: 0;
}

ul {
  list-style: none;
}

.wrapper {
  display: flex;
  flex-direction: column;

  & > .top-menu {
    position: sticky;
    top: 0px;
    display: inline-block;
    z-index: 999;

    & > .top-menu-content {
      display: flex;
      flex-direction: row;
      height: 73px;
      border-bottom: 1px solid #D9D9D9;

      & > .top-menu-left {
        min-width: 290px;
        background-color: #F1F2F7;
        flex-basis: 290px;
        padding: 23px 0 23px 45px;

        & > .main-logo {
          width: 31px;
          height: 27px;
          background-color: #5A67BA;
        }

        & > .brich-title {
          padding-left: 15px;
          font-size: 16px;
          font-weight: bold;
          color: #045d89;

          a:visited {
            color: #045d89;
          }
        }
      }

      & > .top-menu-right {
        display: flex;
        flex-grow: 1;
        background-color: white;
        justify-content: space-between;
        & > .top-menu-search-area {
          max-width: 1200px;
          flex-grow: 1;
          padding: 20px 100px 20px 50px;
          & > .search-input {
            width: 100%;
            
          }
        }

        & > .top-menu-profile-area {
          flex-basis: 310px;
          padding: 20px 29px 20px 29px;

          & > .menu-profile {
            flex-basis: 32px;
            background-color: #5A67BA;
          }

          & > .menu-profilename {
            color: #5A67BA;
            font-weight: bold;
            flex-grow: 0.5;
            padding: 9px 0 9px 12px;
          }

          & > .menu-alert {
            flex-basis: 41px;
            background-color: #5A67BA;
          }
        }
      }
    }
  }

  & > .application-main {
    display: flex;
    flex-direction: row;

    & > .side-menu {
      min-width: 290px;
      position: sticky;
      top: 73px;
      flex-basis: 290px;
      min-width: 290px;
     /*  세로방향 스크롤 안생김 */
      height: calc(100vh - 73px);
      align-self: flex-start;
      background-color: #F1F2F7;
      z-index: 999;
      .menu-nav {
        padding: 50px 27px 0 45px;

        & > .common-menu {
          margin: 0;
        }
      }

      .menu-content {
       /*하단 메뉴 선택시 배경 색 크기 조정용*/
        & li.other-item {
            width: 218px;
        }
        & > li > a {
          padding-left: 55px;
        }
      }

      .menu-content-my {
        padding: 0 0 0 55px;
      }

      .my-campaign {
        padding-left: 55px;
		cursor : pointer;
        & > .my-sub-menu {
          & > .last-item {
            margin-bottom: 15px;
          }
          & > li > a {
            padding: 0 0 0 38px;
          }
        }
      }

      .common-menu {
        position: relative;
      }

      .others-menu {
        position: absolute;
        top: 512px;
        left: 0px;
      }

      ul {
        padding: 0;
        color: #616161;
      }

      li {
        line-height: 42px;
        display: block;

        a {
          text-decoration: none;
          color: #616161;
        }
      }

      #menu-image {
        padding-left: 18px;
        display: flex;
        gap: 15px;
      }

      #menu-image::before {
       transform: translateY(1.7px);
        content: url("/img/Chart.png")
      }
    }
  }

  .flex-row {
    display: flex;
    flex-direction: row;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
  }

  .height-center {
    display: flex;
    align-items: center;
  }
  .middle-center{
    display: flex;
  	align-items: center;
  	justify-content: center;}

  .text-align {
    text-align: center;
  }
  .display-none{
    display:none;
  }

  .menu-selected {
    background-color: #E9EBF6;
    border-radius: 5px;
    font-weight: bold;
    color: black;

    a {
      color: #0A66DD !important;
    }
  }

  .dashboard-font {
    font-weight: bold;
  }

  .flex-space-between {
    display: flex;
    justify-content: space-between;
  }

  .flex-center {
    display: flex;
    justify-content: center;
  }

  .caret-down {
    background-image: url("/img/caret_down.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
  }

  .caret-up {
    background-image: url("/img/caret_up.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
  }

  .display-none {
    display: none;
  }

  .visibility-hidden {
    visibility: hidden;
  }
  .search-input{
	padding : 9px 0 9px 13px;
	background-color: #F6F6FB;
	border:none;
	border-radius : 5px;
	background-image :url("/img/Search.png");
	background-repeat: no-repeat;
	background-position : right 10px bottom 50%;   
	background-size: 15px;
	
	&.menu {
	   min-width: 700px;
	   max-width: 1100px;
	}
  }
  .search-input:focus {  
    outline: none;
   }
   .campaign-now-status-2005, .campaign-now-status-2006{
    color : #AEB400;
    font-weight : bold;
    padding-right:8px;
   }
}

.logout {
	white-space: nowrap;
	color: #616161;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 20px;
	font-size: 14px;
	font-weight: 600;
	
	&:hover {
	   color: #333;
	   transition: 0.1s;
	   padding: 10px;
	   border-radius: 10px;
	   background-color: rgb(249, 249, 249);
	}
}

.admin-campaign {
	padding-left: 55px;
}

.menu-admin-header {
	display: block;
	margin-top: 20px;
	margin-bottom: 10px;
}

