
@charset "UTF-8";


.simple-paginator {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.simple-paginator button {
  background-color: #5275C1;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.simple-paginator button:hover {
  background-color: #3f5b9b;
}