.regist-side-btn { 
	&:hover { transform:scale(1.1);
}

}
.regist-btn {
	background-color: #5275c1;
	border: 0;
	
	&:hover {
	   transform: scale(1.1);
	}
}

.auto-active {
	border: 0px;
	background-color: #cbcbcb;
}

.validate-password-confirm {
	color: #FF0000;
	font-size: 14px;
}

.login-area{
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 215px;
	left: 1340px;
	
	& > form {
	   & > .login-input-box {
	       border: 1px solid #fff;
	       border-radius: 5px;
	       margin-bottom: 15px;
	       width: 320px;
	       height: 55px;
	       display: flex;
	       align-items: center;
	       justify-content: space-around;
	       
	       & > img {
	           margin-left: 20px;
	           width: 25px;
	           height: 25px;
	       }
	       
	       & > .login-input {
	           background-color: #5275c1;
	           border: 0;
	           width: 230px;
               height: 50px;
               font-size: 24px;
               line-height: 50px;
               
               &::placeholder {
                  padding-left: 30px;
                  font-size: 20px;
                  font-weight: 100;
                  color: #fff;
                  opacity: 1;
              
               }
	           &:focus {
	               outline: none;
	               &::placeholder { 
	                  color: transparent; 
	               }
	           }
	       }
	   }
    }
     & > .login-button {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;        
          
     }
     
}
.login-button {
    width: 320px;
    height: 45px;
    font-weight: 500; 
    border: 0;
    border-radius: 5px;
    background-color: #fff;
    color: #2148C0;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    
    
    &:hover {
        transform: scale(1.1);
    }
}

.login-page-btn {
	
	&:hover {
	   transform: scale(1.1);
	}
	margin: 10px 0;
    text-decoration: none;
    &:first-of-type {
        color: #fff;
        
    }
    &:nth-of-type(2) {
    
        color: #1B2DA2;
    }
    text-align: center;
}

.find-header {
	display: flex;
	justify-content: center;
	margin-top: 100px;
	padding: 0 auto;
	font-size: 60px;
	font-weight: semi-bold;
    color: #5a6acf;
}
.regist-main.find-id-main {
	margin-top: 100px;
	margin-left: 100px;
    
}

.regist-wrapper.find-wrapper {
    width: 800px;
}