* {
    box-sizing: border-box;
}
body {
    color: #333;
    margin: 0;
}

ul{
    list-style: none;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;

& > .top-menu {
    height: 72px;
}
& > .application-main {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	
	& > .side-menu {
	    width: 270px;
    }
    }
}

.chat-main {
	display:flex;
	flex-direction: column;
	align-content: center;
	margin:0 auto;
}
.header-title{
	font-size: 36px;
	font-weight: 700;
	color: #5A6ACF;
}
.content-box{
	margin-left: 50px;
	width: 1200px;
	height: 750px;
	box-shadow: 0 0 12px rgba(0,0,0,0.15);
}
.content-title{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	font-size: 24px;
	color: #5A6ACF;
	font-weight: 700;
	border-bottom: 1px solid #C8CBD9;
}
.progress-check {
	align-items: center;
	height: 45px;
	display: flex;
	gap: 20px;
	border-bottom: 1px solid #C8CBD9;

	& > .progress:first-child {
	margin-left: 30px;
	}

}
.progress {
	font-weight: 500;
	color: #5A6ACF;
	cursor: pointer;
}
.content-list {
	height: 550px;
	
}
.campaign-content-item {
	display:flex;
	padding: 0 90px;
	align-items: center;
	justify-content: space-between;
	height: 110px;
	border-bottom: 1px solid #C8CBD9;
	cursor: pointer;
	transition: background-color 0.2s;
}
.campaign-content-item:hover {
	background-color: #f5f5f5;
}
.campaign-item, .chatroom-campaign-title {
	display: flex;
	align-items: center;
	gap: 20px;
}
.campaign-title-c {
	font-weight: bold;
	font-size: 24px;
	color: #5A6ACF;
}
.campaign-status {
	border-radius: 15px;
	text-align: center;
	width: 42px;
	height: 19px;
	line-height: 19px;
	font-size: 14px;
	&.end {
	   color: #D30000;
       background-color: #FFE0E0;
	}
	&.selecting {
	   color: #AEB47E;
	   background-color: #FFFAC7;
	}
	&.ongoing {
	   color: #007F00;
	   background-color: #CDFFCD;
	}
}
.campaign-link {
	border-radius: 15px;
	color: #fff;
	text-decoration: none;
	width: 110px;
	height: 60px;
	background-color: #7B61FF;
	line-height: 60px;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}

.chatroom-content-item {
	display:flex;
	justify-content: space-between;
	padding: 0 90px;
	align-items: center;
	height: 110px;
	border-bottom: 1px solid #C8CBD9;
	cursor: pointer;
	transition: background-color 0.2s;
}
.chatroom-content-item:hover {
    background-color: #f5f5f5;
}
.chatroom-info {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.campaign-title {
	font-size: 18px;
	font-weight: 700;
}
.chatroom-extra-info {
	position: relative;
	align-items: center;
	display:flex;
	height: 67px;
	gap: 70px;

}
.chat-latest-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
}
.latest-time {
	font-size: 14px;
	font-weight: 700;
	color: #777373;
}
.unread-count {
	border-radius: 50%;
	width: 25px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	background-color: tomato;
}

.report-btn {
	top: 0px;
	right: 100px;
}
.report-btn-rm {
	font-weight: 500;
    top: -15px;
    right: -400px;
    width: 60px;
    height: 20px;
    font-size: 16px;
}

.chat-leave-btn, .chat-leave-btn-rm {
    width: 30px;
    height: 30px;
    
    &.chat-leave-btn-rm {
        position: absolute;
        top: -16px;
        left: 430px;
    }
}

.leave-chat-btn {
	top: 0px;
	right: -25px;
}

.leave-chat-btn-rm {
	font-weight: 500;
	width: 90px;
	height: 20px;
    top: -15px;
    right: -500px;
    font-size: 16px;
}
.report-btn,
.report-btn-rm,
.leave-chat-btn,
.leave-chat-btn-rm{
    border-radius: 5px;
    color: #fff;
    background-color : #000;
    position: absolute;
    padding: 2px;
    white-space: nowrap;
    display: none;
    
    &:hover {
        transform: scale(1.03);
    }
}


.chatroom-extra{
	position: relative;
	display: flex;
	gap: 20px;
	
}

/* 페이징 스타일 */
.page-list {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	gap: 10px;
	padding: 20px;
	border-top: 1px solid #C8CBD9;
}

.page-item,
.page-prev-group,
.page-next-group {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-width: 35px;
	height: 35px;
	padding: 0 10px;
	border: 1px solid #C8CBD9;
	border-radius: 5px;
	background-color: #fff;
	color: #5A6ACF;
	font-weight: 500;
	cursor: pointer;
	transition: all 0.2s;
	user-select: none;
}

.page-item:hover,
.page-prev-group:hover,
.page-next-group:hover {
	background-color: #5A6ACF;
	color: #fff;
	border-color: #5A6ACF;
}

.page-item.active {
	background-color: #5A6ACF;
	color: #fff;
	border-color: #5A6ACF;
	font-weight: 700;
}

.page-prev-group,
.page-next-group {
	font-weight: 700;
	font-size: 16px;
}

.no-data {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	color: #999;
	font-size: 18px;
}

.message-container {
	height: 550px;
	border-bottom: 1px solid #C8CBD9;	
}
